#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.title{
  font-size: 20px;
  color: rgb(25, 147, 37);
  font-weight: 600;
  text-align: center;
}
.row{
  margin: 10px 10px;
}
button{
  border: 1px solid gray !important;
  background-color: orangered !important;
  color: white;
}
